.chat-list {
  background-color: skyblue;
  width: 100%;
  height: 500px;
  padding: 10px;
  overflow: scroll;
}
.chat-list div div {
  display: inline-block;
  padding: 3px;
}
.my-chat {
  text-align: right;
}
.my-chat div {
  background-color: yellow;
}
.other-chat div {
  background-color: white;
}
.system {
  text-align: center;
  padding: 5px;
  width: 100%;
}
.system div {
  color: white;
}
